@model IEnumerable<WebApplicationIsk.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <div class="d-none d-md-inline-block ml-auto mr-0 mr-md-4 my-2 my-md-0">
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="user_list_dropdown_toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>Lista użytkowników
                    </a>
                    <div class="dropdown-menu" aria-labelledby="user_list_dropdown_toggle">
                        <a class="dropdown-item" asp-controller="Users" asp-action="Create"><span class="mr-1"><i class="fas fa-plus-circle"></i></span><span class="mr-1">Dodaj użytkownika</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="btn-group mb-2" role="group">
            <a class="btn btn-primary" asp-controller="Users" asp-action="Create"><span class="mr-1"><i class="fas fa-plus-circle"></i></span><span class="mr-1">Dodaj użytkownika</span></a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Surname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Role)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Login)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
