<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <title>@ViewData["Title"] / Web Application Isk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-2">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Web Application Isk</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mr-auto mr-0 ml-md-2 my-2 my-md-0" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index"><span class="mr-1"><i class="fas fa-home fa-fw"></i></span>Strona startowa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About"><span class="mr-1"><i class="fas fa-book fa-fw"></i></span>Opis zadania</a>
                    </li>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="user_menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-1"><i class="fas fa-database fa-fw"></i></span><span class="mr-1">Użytkownicy</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user_menu">
                            <a class="dropdown-item" asp-controller="Users" asp-action="Index"><span class="mr-1"><i class="fas fa-list"></i></span><span class="mr-1">Lista</span></a>
                            <a class="dropdown-item" asp-controller="Users" asp-action="Create"><span class="mr-1"><i class="fas fa-plus-circle"></i></span><span class="mr-1">Dodaj</span></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-none d-md-inline-block ml-auto mr-0 mr-md-2 my-2 my-md-0">
                @if (@Context.Session.IsAuthorizedUser() == true)
                {
                    <ul class="navbar-nav ml-auto ml-md-0">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="user_login" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-1"><i class="fas fa-user-circle fa-fw"></i></span>Witaj @Context.Session.GetAuthorizedUser().Email
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user_login">
                                <a class="dropdown-item" asp-controller="Authorization" asp-action="Logout"><span class="mr-1"><i class="fas fa-user-circle fa-fw"></i></span><span class="mr-1">Wyloguj</span></a>
                                <a class="dropdown-item" asp-controller="Users" asp-action="Edit" asp-route-id="@Context.Session.GetAuthorizedUser().Id"><span class="mr-1"><i class="fas fa-edit fa-fw"></i></span><span class="mr-1">Edytuj swoje dane</span></a>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Authorization" asp-action="Login"><span class="mr-1"><i class="fas fa-user-circle fa-fw"></i></span><span class="mr-1">Zaloguj</span></a>
                }
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebApplicationIsk
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
